#root {
  display: flex;
  height: 100vh;
}
.globe {
  display: block;
  position: fixed;
  width: 1000px;
  aspect-ratio: 1;
  top: 50%;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  background-image: radial-gradient(
    at 50% 50% in oklch,
    color-mix(in oklch, skyblue, blue 80%),
    color-mix(in oklch, skyblue, blue 10%) 19%,
    color-mix(in oklch, skyblue, blue 20%) 20%,
    color-mix(in oklch, skyblue, blue 80%),
    color-mix(in oklch, blue, black 50%) 55%,
    transparent 70%
  );
}
.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  padding: 5rem;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tag {
  font-size: 1.5rem;
  color: darkblue;
  background-color: lightblue;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.box {
  border: 2px solid white;
}
